.listWithoutPoints {
    list-style-type: none !important;
}
#newsList .ui-panel .ui-panel-titlebar {
    background-color: #0277bd !important;
}
.newsPanel li {
    list-style: inherit !important;
}

.fixRussianFont {
    font-family: Helvetica, sans-serif;
}