.alert{

    margin: 20px 0;
    font-size: 11px;
    color: red;
    text-align: center;
}
form{
    display: inline;
    float: inherit;
}
div{
    clear:both;
}
.ui-selectonemenu{
    width: 43% !important;
}